<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=IVAN\SQLEXPRESS;Initial Catalog=RegistryDB;Integrated Security=True" />-->
    <add name="DefaultConnection" connectionString="Data Source=52.232.56.117\HelpVM\SQLEXPRESS,1433;Initial Catalog=RegistryDB;User ID=sa;Password=Q!w2E#r4Q!w2E#r4" />
    <add name="AzureStorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=registry2;AccountKey=4Vr6myhUO7RAblnMaZnvxEhmU5K8PPhqAIvR/2HR8BANQzvgVpGuLEMnUU3v0GqQ9Ryqvvhv2SKdTI82nIsaWA==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Registry.Data.Services.CommunicationService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/Design_Time_Addresses/Registry.RemoteAzureService/Communication/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="/ICategoryRepository" binding="basicHttpBinding" contract="Registry.Data.Services.Abstract.ICategoryRepository"/>
        <endpoint address="/IResourceGroupRepository" binding="basicHttpBinding" contract="Registry.Data.Services.Abstract.IResourceGroupRepository"/>
        <endpoint address="/IUserRepository" binding="basicHttpBinding" contract="Registry.Data.Services.Abstract.IUserRepository"/>
        <endpoint address="/IResourceRepository" binding="basicHttpBinding" contract="Registry.Data.Services.Abstract.IResourceRepository"/>
        <endpoint address="/ICommunication" binding="basicHttpBinding" contract="Registry.Data.Services.Abstract.ICommunication"/>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
