<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICategoryRepository" />
        <binding name="BasicHttpBinding_IResourceGroupRepository" />
        <binding name="BasicHttpBinding_IUserRepository" />
        <binding name="BasicHttpBinding_IResourceRepository" />
        <binding name="BasicHttpBinding_ICommunication" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://registryremoteapp.azurewebsites.net/CommunicationService.svc/ICategoryRepository"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryRepository"
        contract="Communication.ICategoryRepository" name="BasicHttpBinding_ICategoryRepository" />
      <endpoint address="http://registryremoteapp.azurewebsites.net/CommunicationService.svc/IResourceGroupRepository"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceGroupRepository"
        contract="Communication.IResourceGroupRepository" name="BasicHttpBinding_IResourceGroupRepository" />
      <endpoint address="http://registryremoteapp.azurewebsites.net/CommunicationService.svc/IUserRepository"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserRepository"
        contract="Communication.IUserRepository" name="BasicHttpBinding_IUserRepository" />
      <endpoint address="http://registryremoteapp.azurewebsites.net/CommunicationService.svc/IResourceRepository"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceRepository"
        contract="Communication.IResourceRepository" name="BasicHttpBinding_IResourceRepository" />
      <endpoint address="http://registryremoteapp.azurewebsites.net/CommunicationService.svc/ICommunication"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommunication"
        contract="Communication.ICommunication" name="BasicHttpBinding_ICommunication" />
    </client>
  </system.serviceModel>
</configuration>