<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICategoryRepository" />
        <binding name="NetTcpBinding_IResourceGroupRepository" />
        <binding name="NetTcpBinding_IUserRepository" />
        <binding name="NetTcpBinding_IResourceRepository" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_ICommunication">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8090/ICategoryRepository"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICategoryRepository"
        contract="Communication.ICategoryRepository" name="NetTcpBinding_ICategoryRepository">
        <identity>
          <userPrincipalName value="IVAN\Ivan-Laptop" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/IResourceGroupRepository"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IResourceGroupRepository"
        contract="Communication.IResourceGroupRepository" name="NetTcpBinding_IResourceGroupRepository">
        <identity>
          <userPrincipalName value="IVAN\Ivan-Laptop" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/IUserRepository"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUserRepository"
        contract="Communication.IUserRepository" name="NetTcpBinding_IUserRepository">
        <identity>
          <userPrincipalName value="IVAN\Ivan-Laptop" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/IResourceRepository"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IResourceRepository"
        contract="Communication.IResourceRepository" name="NetTcpBinding_IResourceRepository">
        <identity>
          <userPrincipalName value="IVAN\Ivan-Laptop" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8181/RegistryRemoteService.svc/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_ICommunication"
        contract="Communication.ICommunication" name="MetadataExchangeHttpBinding_ICommunication" />
    </client>
  </system.serviceModel>
</configuration>