<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=IVAN\SQLEXPRESS;Initial Catalog=RegistryDB;Integrated Security=True"/>
      <add name="AzureStorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=registry2;AccountKey=4Vr6myhUO7RAblnMaZnvxEhmU5K8PPhqAIvR/2HR8BANQzvgVpGuLEMnUU3v0GqQ9Ryqvvhv2SKdTI82nIsaWA==;EndpointSuffix=core.windows.net"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
        <netTcpBinding>
            <binding name="NetTcpBindingConfiguration">
                <security mode="None" />
            </binding>
        </netTcpBinding>
    </bindings>
    
    <services>
      <!-- Note: the service name must match the configuration name for the service implementation. -->
      <service name="Registry.Data.Services.CommunicationService" behaviorConfiguration="MyServiceTypeBehaviors" >
        <!-- Add the following endpoint.  -->
        <!-- Note: your service must have an http base address to add this endpoint. -->
        <endpoint contract="Registry.Data.Services.Abstract.ICategoryRepository" binding="netTcpBinding" address="/ICategoryRepository" />
        <endpoint contract="Registry.Data.Services.Abstract.IResourceGroupRepository" binding="netTcpBinding" address="/IResourceGroupRepository" />
        <endpoint contract="Registry.Data.Services.Abstract.IUserRepository" binding="netTcpBinding" address="/IUserRepository" />
        <endpoint contract="Registry.Data.Services.Abstract.IResourceRepository" binding="netTcpBinding" address="/IResourceRepository" />
        <endpoint contract="Registry.Data.Services.Abstract.ICommunication" binding="mexHttpBinding" address="mex" />
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8181/RegistryRemoteService.svc"/>
            <add baseAddress = "net.tcp://localhost:8090"/>
          </baseAddresses>
        </host>
      </service>
      
    </services>


    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>